.mt{
  margin-top: 20px;
}
ul {
  list-style: none;
  li {
    padding: 5px 0;
  }
}
form{
  margin-top: 25px;
}
textarea{
  height: 300px;
}
.isColl {
  width: 100%;
  padding: 10px;
}

#stored, #updated, #removed {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

#stored {
  background-color: green;
}

#removed {
  background-color: firebrick;
}

#updated {
  background-color: orange;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}