<div class="container mt">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <button type="button" class="btn btn-primary isColl" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                {{isCollapsed ? "Add new note": "Close form"}}
            </button>
            <!--<hr>-->
            <div id="collapseBasic" [collapse]='isCollapsed' class="card card-block card-header">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" id="newNote" [formGroup]="newNote"
                              (ngSubmit)="createNote(newNote.value); newNote.reset()">
                            <div class="form-group">
                                <label>Caption</label>
                                <input class="form-control" type="text"
                                       [formControl]="newNote.controls['caption']"
                                       placeholder="Caption">
                                <p *ngIf="newNote.controls['caption'].invalid && newNote.controls['caption'].touched">
                                    Enter caption!</p>
                            </div>
                            <div class="form-group">
                                <label>Text</label>
                                <input class="form-control" type="text" [formControl]="newNote.controls['text']"
                                       placeholder="Text">
                                <p *ngIf="newNote.controls['text'].invalid && newNote.controls['text'].touched">
                                    Enter some text!</p>
                            </div>
                            <div class="form-group">
                                <label>Keywords</label>
                                <input class="form-control" type="text"
                                       [formControl]="newNote.controls['keywords']"
                                       placeholder="Keywords">
                                <p *ngIf="newNote.controls['keywords'].invalid && newNote.controls['keywords'].touched">
                                    Enter keywords!</p>
                            </div>
                            <div class="form-group" hidden>
                                <label>Note date
                                    <input class="form-control" type="text"
                                           [formControl]="newNote.controls['date']">
                                </label>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary btn-lg btn-block text-uppercase"
                                            type="submit" [disabled]="!newNote.valid">
                                        Save new note
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li *ngFor="let note of notes | filter : searchKeywords; let i = index"><a href="#"
                                                                                           (click)="giveIndex(i)"
                                                                                           class="list-group-item list-group-item-action">{{note.caption}} </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search by keywords"
                       [(ngModel)]="searchKeywords">
            </div>

            <form class="form-horizontal form-material col-xs-12" id="editNote" [formGroup]="editNote"
                  (ngSubmit)="editN(); editNote.reset()">
                <div class="form-group">
                    <input class="form-control" type="text" [formControl]="editNote.controls['caption']"
                           placeholder="Caption">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" [formControl]="editNote.controls['text']"
                              placeholder="Text for note"></textarea>
                </div>
                <div class="form-group ">
                    <div class="col-lg-6">
                        <input class="form-control" type="text" [formControl]="editNote.controls['keywords']"
                               placeholder="Keyword 1, keyword 2">
                    </div>
                    <div class="col-lg-6">
                        <label>
                            <input type="text"
                                   class="form-control"
                                   #dp="bsDatepicker"
                                   bsDatepicker
                                   [bsValue]="bsValue">
                        </label>

                    </div>
                </div>
                <div class="form-group" hidden>
                    <input class="form-control" type="hidden" [formControl]="editNote.controls['date']"
                           placeholder="date">
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-lg-6 mt">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="col-lg-6 mt">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase" type="button"
                                (click)="deleteNote()">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="stored">Data stored</div>
<div id="updated">Data updated</div>
<div id="removed">Data removed</div>
